/* === Global ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

:root {
  --Maincolor: #000000;
  --SecondaryColor: #3d72a4;
  --HomeMainColor:#ffffff;
  
}

/* === Navigation Bar === */
a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 100%;
  height: 100vh;
  background-color: var(--Maincolor);
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: var(--HomeMainColor);
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.brand {
  font-size: 2.9rem;
  color: #fff;
  font-family: "inconsolata", sans-serif;
  font-weight: 400;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.brand .brand-effect {
  background: linear-gradient(
    to bottom,
    var(--SecondaryColor) 0%,
    var(--SecondaryColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #fff;
  text-decoration: none;
  transition: background-size 0.6s;
}

.brand .brand-effect:hover {
  background-size: 4px 50px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3d72a4;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

/*** === Home Screen === ***/
.about-me-section {
  color: #fff;
  

}

/* ==== Mobile salutation === */
.mobile-salutation {
  display: none;
  padding-top: 50%;
  font-size: 2.6rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}

.highlight-effect {
  display: inline-block;
  position: relative;
}

.highlight-effect::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: transparent;
  height: 14px;
  background: rgb(61, 114, 164, 0.89);
}

/*===========================*/
.text-section {
  color: white;
  position: absolute;
  top: 40%;
}
.about-me-section img {
  width: 33%;
  float: right;
  margin-top: 0.7rem;
  margin-left:2rem;
}

.home-headline {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.6rem;
  text-transform: uppercase;
}

.brief-bio{
  padding-top:1.6rem;
  font-size: 1.7rem;
  line-height: 1.7em;
}
/* === Cursor for the effect === */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

/* ==== Social Media Icons styling ====*/
.social-media-icons{
  position: absolute;
  font-size: 3.5em;
  font-weight: 300;
  top:70%;
}

.social-media-icons i {
  color:var(--SecondaryColor);
}

/*** ==== About page === ***/
/*==== color swap ===*/
.color-swap{
  background-color: #eee;
}

.color-swap a{
  color: var(--Maincolor);
}

.color-swap .brand, .color-swap .brand-effect {
  color: var(--Maincolor);
}

.color-swap .menu-toggle{
  color: var(--Maincolor);
}

/*==================*/
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3rem 0;
}


.flex-container img{
  width:35%;
  position: relative;
  top:1.2rem;
  margin-right: 6rem;
  
}

.text-field h1{
  font-family: 'montserrat',sans-serif;
  text-transform: capitalize;
  font-size:2.7em;
  color:var(--SecondaryColor);
 
}

.text-field{
  font-size: 1.6rem;
  line-height: 1.8;
}
/**** ====== Media querries ======*/

@media screen and (max-width: 800px) {
  .inactive-link {
    pointer-events: none;
    cursor: default;
  }

  .menu-toggle {
    display: block;
  }

  header {
    height: 100vh;
  }

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 2rem;
  }

  .brand {
    font-size: 3rem;
  }

  .brand .brand-effect {
    background: unset;
  }

  .menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
  /*** ===== Home (responsive) ====***/
  /* === about-me-section ===*/
  .img-section {
    display: none;
  }
  .text-section {
    position: unset;
  }
  
  .home-headline {
    position: unset;
    font-size: 1.9rem;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 2rem;
  }
  .mobile-salutation {
    display: block;
  }
 
  /* === Brief Bio ===*/
  .brief-bio br{
    display: none;
  }

  .brief-bio{
   
    font-size: 1.8rem;
    text-align: justify;
    
  }
  
  .social-media-icons{
    position: unset;
    margin-top:1.6rem;
    text-align: center;
  }
/*** ==== About me page ====****/
.flex-container{
  flex-direction: column;
  margin-top: 10rem;
}
.flex-container img{
  width:90%;
  position:unset;
  margin-left: 6.5rem;
  align-items: center;
}

.text-field h1{
  text-align: center;
}
.text-field{
  text-align: justify;
  width:-2px;
}
}
